h1 {
    color: rgb(36, 25, 3);
    background-color: rgb(255, 132, 0);
    font-family: 'Courier New', 'Times New Roman', sans-serif;
    text-decoration: underline;
    font-size: 50px;
    text-align: center;
}

.text {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:600;
    color:rgb(154, 98, 9)
}

.heading {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:underline;
    background-color: rgb(198, 153, 2);
}

#desc {
    font-style: italic;
    color: rgb(113, 41, 10)
}